html, body {
  padding: 0;
  margin: 0; }

div.container {
  width: 60%;
  margin: 0 auto; }

a {
  color: inherit;
  border-bottom: dotted 1px solid #50E3C2; }

body {
  font-family: 'Fira Sans', sans-serif; }
  body > header {
    height: 60px;
    width: 100%;
    background: #50E3C2;
    margin-bottom: 2.8rem; }
    body > header h1 {
      font-family: 'Bree Serif', serif;
      font-size: 1.8rem;
      line-height: 52px; }
  body section#product > header {
    width: 100%;
    overflow: hidden;
    margin-bottom: 2.8rem; }
    body section#product > header img {
      float: left;
      margin-right: 1.2rem;
      border-radius: 4px; }
    body section#product > header h1 {
      padding: 0;
      margin: 0; }
  body section#product nav {
    width: 100%;
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 2.8rem; }
    body section#product nav ul {
      width: 100%;
      padding: 0;
      margin: 0; }
      body section#product nav ul a {
        display: inline-block;
        width: 40%;
        padding: 0 1.6rem; }
        body section#product nav ul a.active {
          border-top: 1px solid #9B9B9B;
          border-left: 1px solid #9B9B9B;
          border-right: 1px solid #9B9B9B;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px; }
        body section#product nav ul a:not(.active) {
          border-bottom: 1px solid #9B9B9B; }
      body section#product nav ul li {
        white-space: none;
        display: inline-block;
        height: 80px;
        line-height: 80px; }
  body article ul#snippets {
    width: 100%;
    padding: 0;
    margin: 0; }
    body article ul#snippets li {
      list-style: none;
      background: #9B9B9B;
      border-radius: 8px;
      padding: 1.2rem;
      box-sizing: border-box;
      margin-bottom: 1.2rem; }
      body article ul#snippets li section {
        margin: 0 0 2.8rem 8rem;
        background: white;
        padding: 1.2rem;
        border-radius: 4px; }
        body article ul#snippets li section div.vote-count {
          width: 6.8rem;
          border-radius: 4px;
          margin-left: -9rem;
          margin-top: -1.2rem;
          padding: 1.2rem;
          background: white;
          box-sizing: border-box;
          float: left;
          text-align: center; }
        body article ul#snippets li section blockquote.selection {
          background: #E8D925;
          line-height: 1.8rem;
          display: inline;
          margin: 0; }
        body article ul#snippets li section article.comment {
          box-sizing: border-box; }
          body article ul#snippets li section article.comment blockquote.annotation {
            font-size: 1.4rem; }
            body article ul#snippets li section article.comment blockquote.annotation footer {
              margin-top: 1.2rem;
              height: 24px;
              font-size: 0.8rem;
              line-height: 26px; }
              body article ul#snippets li section article.comment blockquote.annotation footer img {
                width: 24px;
                height: 24px;
                float: left;
                margin-right: 0.4rem; }
          body article ul#snippets li section article.comment.reply {
            color: #50E3C2;
            margin-top: 2.4rem;
            display: block; }

/*# sourceMappingURL=style.css.map */
